@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    background-image: url("../images/photos/buvimg.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.loginForm {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.loginForm h1 {
    margin-top: 0;
}

.loginForm button {
    margin: 10px;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 5px;
    border: #0e2aa6 solid;

    transition: 0.2s;
}

.loginForm button:hover {
    background-color: #45BBE3;
}